<template>
  <h1>The Progressive javascript framework</h1>
  <p>{{ msg }}</p>
  {{ buttonHTML }}
  <span v-html="buttonHTML"></span>
  <p v-bind:style="color">GG</p>
  <a v-bind:href="web">google</a>
  {{ num1 }}
  <h2 :style="`color: ${green};`">${{ savings }}</h2>
  <h2 :style="`color:${price >=200 ? 'green':'red'}`">${{ price }}</h2>
  <h2 v-bind:class="total >= 650 ? 'bottom' : 'backgroud'">${{ total }}</h2>
</template>

<script>
const msg ="hello"
const buttonHTML ="<button>click me</button>"
const color ="color:Gold;background-color:black"
const web = "https://www.google.com"
const num1 = 20*20
const savings = 350
const price = 500
const total = 500
export default{
  name:"app",
  data(){
    return{
      msg:msg,
      buttonHTML,
      color,
      web,
      num1,
      savings,
      price,
      total,
    };
  },
};
</script>

<style>
h1{
  color: #942323;
}

.bottom{
  color:blue;
}

.backgroud{
  color:yellowgreen;
}
</style>